/* Montserrat font is imported in layout.pug */

* {
  font-family: 'Montserrat', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 600;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700;
}

legend {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 600;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  color: #333333;
  background-color: #f8f9fa;
}